[Unit]
Description=Whisper.cpp Server for instant speech-to-text
After=pipewire.service

[Service]
Type=simple
ExecStart=%h/bin/whisper-server \
    -m /usr/share/whisper.cpp-model-large-v3-turbo/ggml-large-v3-turbo.bin \
    -l en \
    --host 127.0.0.1 \
    --port 60002 \
    --convert \
    -nt
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
