/* Emacs menu bar styling to match Doom theme */
#Emacs menubar,
window.emacs menubar,
menubar {
    background-color: #21242b;
    color: #bbc2cf;
    font-size: 14pt;
    font-family: "JetBrainsMono Nerd Font";
}

#Emacs menubar > menuitem,
window.emacs menubar > menuitem,
menubar > menuitem {
    background-color: #21242b;
    color: #bbc2cf;
}

#Emacs menubar > menuitem:hover,
window.emacs menubar > menuitem:hover,
menubar > menuitem:hover {
    background-color: #2c313d;
    color: #51afef;
}

/* Dropdown menus */
#Emacs menu,
window.emacs menu,
menu {
    background-color: #21242b;
    color: #bbc2cf;
    border: 1px solid #51afef;
}

#Emacs menu menuitem,
window.emacs menu menuitem,
menu menuitem {
    background-color: #21242b;
    color: #bbc2cf;
}

#Emacs menu menuitem:hover,
window.emacs menu menuitem:hover,
menu menuitem:hover {
    background-color: #2c313d;
    color: #51afef;
}
